.chatRoom {
    width: 500px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .5);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 100px 100px;*/
    padding: 0 0 20px 0;
}
.todoTemplate{
    display: inline-flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    padding: 8px;
    background-color: #efefef;
    border-radius: 300px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}
.todoTemplate::before {
    content: '';
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 4px;
}
.todoTemplate[data-icon="all"]::before {
    background-image: url("../../public/userIcon.svg");
}
.todoTemplate[data-icon="follow"]::before {
    background-image: url("../../public/follower.svg");
}
.todoTemplate[data-icon="alone"]::before {
    background-image: url("../../public/seeonlyme.svg");
}
.todoTemplate::after {
    content: '';
    background-image: url('../../public/todoAddBtn.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}