.chatRoom {
    width: 500px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .5);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.wrapper {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /*grid-template-rows: 100px 100px;*/
    padding: 0 0 20px 0;
}
.todoTemplate{
    display: inline-flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    padding: 8px;
    background-color: #efefef;
    border-radius: 300px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}
.todoTemplate::before {
    content: '';
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 4px;
}
.todoTemplate[data-icon="all"]::before {
    background-image: url("../../public/userIcon.svg");
}
.todoTemplate[data-icon="follow"]::before {
    background-image: url("../../public/follower.svg");
}
.todoTemplate[data-icon="alone"]::before {
    background-image: url("../../public/seeonlyme.svg");
}
.todoTemplate::after {
    content: '';
    background-image: url('../../public/todoAddBtn.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/* 체크박스 스타일 */
.checkbox {
    width: 20px;
    height: 20px;
    background-color: #efefef;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* 체크 상태를 나타낼 때 사용되는 스타일 */
.checkbox::after {
    content: '';
    position: absolute;
    left: 6px;
    width: 8px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0; /* 처음에는 체크 표시를 숨김 */
}

/* 클릭된 상태를 표시하는 효과 */
.checkbox.active {
    background-color: #00ff3c;
    border-color: #00b217;
}

.checkbox.active::after {
    opacity: 1; /* 체크 표시를 보여줌 */
}

.addTodo {
    max-width: 500px;
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.addTodo input {
    max-width: 400px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #007bff;
    padding: 8px 0 8px 0;
    text-underline: lightblue;
    margin-left: 5px;
}
.addTodo input:focus {
    max-width: 400px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #007bff;
    padding: 8px 0 8px 0;
    outline: none;
    box-shadow: none;
}