.iconShortCut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    /*max-width: 80%;*/
}
.iconShortCut img {
    width: 20px;
    height: 20px;
    padding: 0 10px;
    cursor: pointer;
}